<div id="loader" class="fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50 flex justify-center items-center z-50 hidden">
  <!-- SVG Loader -->
  <div class="w-24 h-24">
    <object type="image/svg+xml" data="/images/loader.svg" class="w-full h-full"></object>
  </div>
</div>
