<!-- home.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/main.css" rel="stylesheet" />
  </head>

  <body class="bg-gray-900">
    <!-- Text from EJS variable 
            passed from server -->
    <h2 class="text-center text-6xl bg-teal-500">
      Text from EJS variable passed from server is =
    </h2>
    <h1 class="text-white text-center bg-slate-100">"<%-name%>";</h1>

    <script>
      let name = "<%-name%>";
      let heading = document.getElementById("text_from_script");

      heading.innerText = name;
      name = "Mr. " + name;
      let heading_man = document.getElementById("text_from_script_manipulated");
      heading_man.innerText = name;
    </script>
  </body>
</html>
